<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="main">
            <ion-icon name="triangle"></ion-icon>
            <ion-label>main</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="timeline">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>timeline</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="write()">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>write</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="feed">
            <ion-icon name="square"></ion-icon>
            <ion-label>feed</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mypage">
            <ion-icon name="square"></ion-icon>
            <ion-label>mypage</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>