<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="main">
            <img src="/assets/images/menu01.png" alt="">
        </ion-tab-button>

        <ion-tab-button tab="timeline">
            <img src="/assets/images/menu02.png" alt="">
        </ion-tab-button>

        <ion-tab-button (click)="write()">
            <img src="/assets/images/menu03.png" alt="">
        </ion-tab-button>

        <ion-tab-button tab="feed">
            <img src="/assets/images/menu04.png" alt="">
        </ion-tab-button>

        <ion-tab-button tab="mypage">
            <img src="/assets/images/menu05.png" alt="">
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
