::ng-deep{
    div.select-view-wrap{
        border:1px solid green;
        min-height: 150px;
        background-color: #f8f8f8;
        padding: 15px;
        div.view{
            border:1px solid #000;
            height: 100%;
            display:flex;
            div.selected{
                border:1px solid gold;
                p.date{
                    font-size: 23px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    margin-top: 0;
                }
                small.day{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            div.content{
                border:1px solid tomato;
                flex:1 1 auto;
                padding: 0 10px;
                ul{
                    list-style: none;
                    padding: 0;
                    margin:0;
                    padding-left: 20px;
                    position: relative;
                    // &::after{
                    //     content:'';
                    //     width: 1px;
                    //     background-color:#000;
                    //     position: absolute;
                    //     left: 15px;
                    // }
                    li{
                        border:1px solid green;
                        padding: 10px;
                        background-color:#fff;
                        border-radius: 15px;
                        width: fit-content;
                        margin-bottom: 10px;
                        position: relative;
                        span.ball{
                            position: absolute;
                            width:10px;
                            height: 10px;
                            border-radius:50%;
                            left: -20px;
                            top:50%;
                            transform:translateY(-50%);
                            background-color:#f24b6e;
                            display: inline-block;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

article.schedule-write {
    div.input-wrapper {
        width: 100%;
        div {
            margin-bottom: 12px;
        }
        div.fab-wrapper {
            display: flex;
            ion-fab-button {
                width: 28px;
                height: 28px;
                margin-right: 8px;
            }
            .fab-btn {
                position: relative;
                &.active::after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: red;
                }
            }
            span {
                width: 18px;
                height: 18px;
                &.circle {
                    border-radius: 50%;
                }
                &.red {
                    background-color: red;
                }
                &.black {
                    background-color: black;
                }
                &.blue {
                    background-color: blue;
                }
                &.pink {
                    background-color: pink;
                }
            }
        }
    }
}

ion-fab {
    ion-fab-button {
        width: 36px;
        height: 36px;
    }
    ion-fab-list {
        min-width: 56px;
        min-height: 36px;
        margin-inline: 50px;
        ion-fab-button {
            width: 28px;
            height: 28px;
        }
    }
}